.time-picker-container {
  position: relative;
  font-family: RobotoMedium, "Roboto";
}

.time-picker {
  position: absolute;
  top: 80px;
  left: 0;
  padding-top: 15px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  transition: transform 0.3s, visibility 0.2s, opacity 0.2s linear;
}

.time-picker.visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(-20px);}

.time-picker-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.pickers {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  position: relative;
  width: 50px;
  padding: 0;
  margin: 0;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  list-style: none;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  background-color: #dddddd55;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slide:hover {
  color: red;
  background-color: #ddd;
}

.slide:nth-child(3) {
  background: none;
  color: red;
  font-size: 24px;
}

.control {
  cursor: pointer;
  opacity: 0.5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.control:hover {
  opacity: 1;
}


.picker-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 15px
}

.divider {
  width: 15px;
  text-align: center;
  font-size: 24px;
}

.current-value-border {
  position: absolute;
  top: 143px;
  left: 14px;
  width: 158px;
  height: 50px;
  border-radius: 7px;
  border: solid 2px #6363e0;
  background-color: #d1d1ff;
  box-sizing: border-box;
}


.animate {
  -webkit-transition-duration: .1s;
  -moz-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform, visibility;
}
