<div class="time-picker-container">
  <mat-form-field class="time-input" [ngClass]="{ 'mat-form-field-invalid': errors }">
    <input matInput
           [value]="inputValue"
           [disabled]="disabled"
           [textMask]="{mask: maskFn}"
           [placeholder]="placeholder"
           (blur)="onBlur($event)"
           (focus)="hideTimePicker()"
    >
  </mat-form-field>
  <button mat-button matSuffix mat-icon-button type="button" (click)="showTimePicker()" [disabled]="disabled">
    <mat-icon>watch_later</mat-icon>
  </button>
  <mat-error class="select-error-hint" *ngIf="errors?.required">Обязательное поле</mat-error>
  <div class="time-picker" [ngClass]="{visible: timePickerIsVisible}">
    <div class="current-value-border"></div>
    <div class="pickers">

      <div class="time-picker-content">
        <div (click)="shiftHours(-1)" class="control">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </div>
        <ul class="carousel" (mousewheel)="onHourWheel($event)">
          <li *ngFor="let hour of visibleHours"
              class="slide"
              (click)="selectHour(hour)"
          >
            {{hour < 10 ? '0' + hour : hour}}
          </li>
        </ul>
        <div (click)="shiftHours(1)" class="control">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </div>

      <div class="divider"> :</div>

      <div class="time-picker-content">
        <div (click)="shiftMinutes(-1)" class="control">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </div>
        <ul class="carousel" (mousewheel)="onMinuteWheel($event)">
          <li *ngFor="let minute of visibleMinutes"
              class="slide"
              (click)="selectMinute(minute)"
          >
            {{minute < 10 ? '0' + minute : minute}}
          </li>
        </ul>
        <div (click)="shiftMinutes(1)" class="control">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </div>
    </div>
    <div class="picker-buttons">
      <button mat-button [style.marginRight]="'10px'"
      (click)="hideTimePicker()">
        Отмена
      </button>
      <button mat-button color="primary"
      (click)="okButtonClick()">
        ОК
      </button>
    </div>
  </div>

</div>
